<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAY6hhMZ8ingDPxQfnfZ9XtaCKgqg7U81k</string>
	<key>GCM_SENDER_ID</key>
	<string>992021104583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.instaflor</string>
	<key>PROJECT_ID</key>
	<string>instaflor-23bc3</string>
	<key>STORAGE_BUCKET</key>
	<string>instaflor-23bc3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:992021104583:ios:3bc950d07dd2b9053f3be2</string>
</dict>
</plist>